.when-it-starts-section {
  background: rgba(15, 15, 15, 0.7) url('/assets/images/Background-Overlay-2.svg');
  background-blend-mode: darken;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: @screen-md) {
    padding: 165px 100px;
  }

  @media screen and (min-width: @screen-lg) {
    padding: 165px 200px;
  }

  @media screen and (min-width: @screen-xl) {
    padding: 165px 300px;
  }

  @media screen and (min-width: @screen-xxl) {
    padding: 165px 400px;
  }

  &__title {
    color: white !important;
    text-align: center;
    font-family: 'LondrinaSolid-Black' !important;
    margin-bottom: 2rem !important;
    font-size: 36px !important;
    letter-spacing: 1.44px !important;

    @media screen and (min-width: @screen-md) {
      font-size: 64px !important;
      letter-spacing: 2.56px !important;
    }
  }

  &__description {
    font-family: 'RobotoMono-Regular';
    font-size: 16px;
    line-height: 30px;
    color: white;
    text-align: center;

    @media screen and (min-width: @screen-md) {
      font-size: 20px;
    }
  }

  &__input {
    font-size: 20px;
    padding: 24px;
    border-radius: 70px;
    margin-top: 4.5rem;

    .ant-input {
      font-size: 24px;
      background: transparent;
      color: rgba(85, 89, 89, 0.6) !important;
    }

    @media screen and (min-width: @screen-md) {
      font-size: 24px;
      padding: 32px;
      border-radius: 100px;
    }
  }

  &__input-button {
    height: 50px;
    margin-top: 2rem;

    @media screen and (min-width: @screen-md) {
      height: 70px;
      margin-top: 0;
    }
  }
}
