.legal-info-page {
  padding: 2rem 1rem;

  @media screen and (min-width: @screen-md) {
    padding: 2rem 3rem;
  }

  @media screen and (min-width: @screen-lg) {
    padding: 4rem;
  }

  @media screen and (min-width: @screen-xl) {
    padding: 4rem 5rem;
  }

  @media screen and (min-width: @screen-xxl) {
    padding: 4rem 7rem;
  }

  &__title {
    color: #0c171f !important;
    font-family: 'LondrinaSolid-Black';
    font-size: 48px !important;
    letter-spacing: 1.92px;
    text-align: left;
    font-weight: 900 !important;
    text-transform: uppercase !important;
  }

  &__paragraph-title {
    font-family: 'RobotoMono-Bold';
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: left;
  }

  &__paragraph-text {
    font-family: 'RobotoMono-Regular';
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: left;
  }
}
