.media-buttons {
  display: flex;
  flex-direction: column;

  &__btn {
    background-color: #d1c4e9;
  }

  &--is-sticky {
    position: fixed;
    right: 2rem;
    top: calc((100vh - 160px) / 2);
    z-index: 2;
  }

  &--direction-vertical {
    flex-direction: column;

    margin-bottom: 1rem;
    .media-buttons__btn:last-of-type {
      margin-bottom: 0px;
    }
  }

  &--direction-horizontal {
    flex-direction: row;
    justify-content: space-between;
  }
}
