.intro-section {
  &__banner {
    width: 100%;
    height: 100vh;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7)
      url("/assets/images/bild-hero.png");
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__body {
    background: rgba(0, 0, 0, 0.7)
      url("/assets/images/Background-Overlay.svg");
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    width: 100%;
    bottom: 0px;
    padding: 54px 165px 140px 165px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'RobotoMono-Regular';
    display: flex;
  }
}